{{> navbar user}}
<br>
<div class="container">
    <div class="row d-flex flex-wrap">
        {{!-- need department name and description --}}
        {{#each Department}}
        <div class="col-3">
            <div class="card text-white bg-info mb-3 shadow" id="style-dept-card" style="max-width: 20rem;">
                <div class="card-header">
                    <h4>{{name}}</h4>
                </div>
                <br>
                {{!-- <div class="card-body employees">
                    <p class="card-text employees">Currently has X Employees</p>
                </div> --}}
                <div class="card-body">
                    <p class="card-text">{{description}}</p>
                    <button type="button" class="btn btn-danger btn-sm delete-this-dept" data-id="{{this.id}}">Delete
                        {{name}}</button>
                </div>
            </div>
        </div>
        {{/each}}
    </div>


    <div class="row d-flex justify-content-center">
        <div class="col-sm-4">
            <div class="form-group">
                <label class="col-form-label" for="newDeptName">Add a Department</label>
                <input type="text" class="form-control" placeholder="" id="newDeptName">
            </div>
            <div class="form-group">
                <label for="exampleTextarea">Department description</label>
                <textarea class="form-control" id="newDeptDescription" rows="3"></textarea>
            </div>
            <button type="button" class="btn btn-info" id="create-new-dept">Create new department</button>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {

        $("#create-new-dept").on("click", function (event) {
            event.preventDefault();

            const newDept = {
                name: $("#newDeptName").val().trim(),
                description: $("#newDeptDescription").val().trim()
            };

            $.ajax("/api/departments", {
                type: "POST",
                data: newDept
            }).then(function () {
                console.log("created new department");
                location.reload();
            });
        });

        $(".delete-this-dept").on("click", function (event) {
            event.preventDefault();
            const id = $(this).data("id");

            $.ajax("/api/departments/" + id, {
                type: "DELETE"
            }).then(function () {
                console.log("deleted department", id);
                location.reload();
            });
        });
    });
</script>