{{> navbar user}}
<br>
<div class="department-container">
    <div class="department-row d-flex flex-row">
        {{!-- need department name and description --}}
        {{#each Department}}
        <div class="col">
            <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
                <div class="card-header">
                    <h4>{{name}}</h4>
                </div>
                <div class="card-body">
                    <p class="card-text">{{description}}</p>
                    <button type="button" class="btn btn-danger delete-this-dept" data-id="{{this.id}}">Delete</button>
                    <button type="button" class="btn btn-secondary" id="detailed-view">View Details</button>

                </div>
            </div>
        </div>
        {{/each}}

        <div class="col">
            <div class="form-group">
                <label class="col-form-label" for="newDeptName">Add a Department</label>
                <input type="text" class="form-control" placeholder="" id="newDeptName">
            </div>
            <div class="form-group">
                <label for="exampleTextarea">Department description</label>
                <textarea class="form-control" id="newDeptDescription" rows="3"></textarea>
            </div>
            <button type="button" class="btn btn-info" id="create-new-dept">Create new department</button>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        $("#create-new-dept").on("click", function (event) {
            event.preventDefault();

            const newDept = {
                name: $("#newDeptName").val().trim(),
                description: $("#newDeptDescription").val().trim()
            };

            $.ajax("/api/departments", {
                type: "POST",
                data: newDept
            }).then(function () {
                console.log("created new department");
                location.reload();
            });
        });

        $(".delete-this-dept").on("click", function (event) {
            event.preventDefault();
            const id = $(this).data("id");

            $.ajax("/api/departments/" + id, {
                type: "DELETE"
            }).then(function () {
                console.log("deleted department", id);
                location.reload();
            });
        });
    });
</script>