{{> navbar user }}

<div class="employee-container">
    <div class="employee-row">
        <div class="col-md">
            <div class="jumbotron shadow">
                <h4 class="display-6">Employee Description</h4>
            </div>
        </div>
    </div>
</div>

<div class="employee-container">
    <div class="employee-row">
        {{#each Employee}}
        <div class="row">
            <div class="col-md">
                <h2>Employee Information </h2>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Profile</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-primary">
                            <td>First Name:{{employeeName}}</td>
                        </tr>
                        <tr>
                            <td>Last Name:{{employeelastName}}</td>
                        </tr>
                        {{!-- <tr class="table-primary">
                            <td>Department Name:{{Department.name}}/td>
                        </tr> --}}
                        <tr class="table-primary">
                            <td>Employee email:{{email}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {{/each}}
    </div>

    <div class="row">
        <div class="col">
            <div class="form-group">
                <label class="col-form-label" for="newEmployeeName">Add an Employee</label>
                <input type="text" class="form-control shadow" placeholder="Employee First Name" id="newEmployeeName">
            </div>
            <div class="form-group">
                <input type="text" class="form-control shadow" placeholder="Employee Last Name" id="newEmployeeLastName">
            </div>
            <div class="form-group">
                <label class="col-form-label" for="newEmail">Add Email</label>
                <input type="text" class="form-control shadow" placeholder="Email" id="newEmail">
            </div>
            <button type="button" class="btn btn-info shadow" id="create-new-employee">Create New Employee</button>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        $("#create-new-employee").on("click", function (event) {
            event.preventDefault();

            const newEmployee = {
                employeeName: $("#newEmployeeName").val().trim(),
                employeelastName: $("#newEmployeeLastName").val().trim(),
                email: $("#newEmail").val().trim()
            };

            $.ajax("/api/employee", {
                type: "POST",
                data: newEmployee
            }).then(function () {
                console.log("created new employee");
                location.reload();
            })
        });

        $("delete-this-employee").on("click", function (event) {
            event.preventDefault();
            const id = $(this.data("id"));

            $.ajax("/api/employee/" + id, {
                type: "DELETE"
            }).then(function () {
                console.log("Employee has been deleted", id);
                location.reload();
            });
        });
    });
</script>